@import '../../Variaveis scss/variaveis.scss';

.historia {

    h2 {
        color: $preto;
        font-weight: $negrito;
        margin-top: $margins
    }

    p {
        color: $preto;
        margin-top: $margins;
        margin-bottom: $margins;
        font-size: $font-size-18;
    }

    img {
        margin-top: $margins;
    }
}