//Variáveis

$centro: center;
$maiusculo: uppercase;
$negrito: bold;
$margins: 2rem;
$padding: 2rem;
$preto: black;
$branco: white;
$botoes: rgb(255, 153, 0);
$destaque-laranja: orangered;
$laranja: rgb(255, 123, 0);
$destaque-azul: rgb(0, 119, 255);
$destaque-ciano: rgb(0, 217, 255);
$padding-destaque-azul: 3rem;
$font-size-18: 18px;
$border-radius: 2rem;