@import '../../Variaveis scss/variaveis.scss';

.mergulho {
    img {
        border-radius: $border-radius;
    }

    h3 {
        margin-top: 7rem;
        font-weight: $negrito;
        color: $preto;
        text-align: $centro;
    }

    p {
        margin-top: $margins;
        text-align: $centro;
    }
}

.mergulho-grids {

    img {
        margin-top: $margins;
        border-radius: $border-radius;
    }

}