@import '../../Variaveis scss/variaveis.scss';

/*Layout*/

.footer1 {
    background: rgb(230, 230, 230);
    padding-top:$padding;
    padding-bottom: 40px;
    text-align: $centro;

    h3{
        margin-top: $margins;
        font-size: $margins;
        font-weight: $negrito;
        text-transform: $maiusculo;
        color: $destaque-laranja;
    }

    h5{
        font-size: 15px;
        font-weight: $negrito;
        color: $destaque-laranja;
    }
}

.btn-icones {
    color: $destaque-laranja;
}

.btn-icones:hover{
    transform: scale(1.3);
    color: $destaque-laranja;
    transition: .3s;
}

.footer2 {
    background-color: $laranja;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: $centro;

    h5 {
        color: $branco;
        font-size: $font-size-18;
    }

    img{
        margin-left: 10px;
    }

    .footer2 img:hover{
        transform: scale(1.2);
    }

}